html {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 1.75em;
    color: rgb(68, 68, 68);

    box-sizing: border-box;
}

/* If an element declares it's using a different sizing,
   then child elements will now inherit that sizing.
*/
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    background-color: rgb(255, 255, 255);
}

h1, h2, h3, h4{
    font-family: "Josefin Sans", sans-serif;
    font-size: 3rem;
    font-weight: bold;
    line-height: 3rem;
    padding: 0;
    margin: 0;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

h3 {
  font-size: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
}

.content-item {
  flex: 1;
  justify-content: center;
}

.page-title {
  font-size: 3rem;
  text-align: center;
}

.song-title {
  font-size: 3rem;
  text-align: center;
}

.artist-name {
  font-size: 2rem;
  text-align: center;
}
