<div class="container">

  <div class="content">

      <h1 class="page-title content-item">
        Jason is Now Listening to...
      </h1>

      <div class="artwork content-item">
      </div>

      <div class="now-playing content-item">
        <h2 class="song-title">
          {{ songTitle }}
        </h2>
        <h3 class="artist-name">
          {{ artistName }}
        </h3>
      </div>
  </div>

</div>
